*{
    margin: 0 auto;
    padding: 0;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


body{
    background: #FFF6DE;
    font-size: 100%;
    font-family: 'Righteous', cursive;
    /* cursor: url(images/leave_red_model2.png); */
}


header div{
    position: absolute;
    right: 0%;
    width: 6%;
    height: 10%;
    background: #D64B39;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50px;
    
}

header div a {
    font-size: 3vw;
    width: 50%;
    color: #E9C55A;
    text-align: center;
}

.person{
    margin-left: 5%;
    margin-top: 3%;
    display: inline-block;
}

.name{
    font-size: 4em;
    margin-bottom: 0.1em;
    color: #F16E5D;
}

@media screen and (max-width: 800px){
    .name{
    font-size: 1.5em;
    }
}

.title_work{
    font-size: 5em;
    text-transform: uppercase;
    margin-top: 4%;
    line-height: 1em;
    color: #D64B39;
}

@media screen and (max-width: 800px){
    .title_work{
    font-size: 1.75em;
    }
}

/* @media screen and (max-width: 800px) {
    .person {
    font-size: 1.5em;
    }
} */

.line_brown{
    display: block;
    border: 6px solid #885252;
    border-radius: 5px;
}

.line_title_work{
    position: absolute;
    width: 20vw;
    left: 3%;
}

@media screen and (max-width: 800px) {
    .line_brown {
    display: block;
    border: 2px solid #885252;
    border-radius: 10px;
    }
}


/* ------------------------- Start owl part ------------------- */

.container{
    position: relative;
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px){
    .container{
        height: 40vh;
    }
}

.owl{
    position: absolute;
    display: inline-block;
    width: 70%;
    right: 40%;
    margin-bottom: 25%;
}

.owl_img{   
    width: 100%;
    height: auto;
}

.eyes{
    position: absolute;
    width: 10%;
    height: 6%;
    /* border: 2px solid blue; */
    top: 39%;
    left: 59.8%;
}

.left_eye{
    position: absolute;
    width: 37%;
    height: 81%;
    /* border: 1px solid red; */
    border-radius: 50%;
    top: 15%;
    left: 1%;
}

.right_eye{
    position: absolute;
    width: 37%;
    height: 81%;
    /* border: 1px solid red; */
    border-radius: 50%;
    top: 15%;
    left: 61%;
}

.eye{
    position: absolute;
    width: 65%;
    height: 70%;
    background: #382222;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

.title_portfolio{
    width: 50%;
    margin-left: 38%;
    margin-bottom: 35%;
}

.title_portfolio p{
    font-size: 7em;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    text-align: right;
    color: #D64B39;
}

@media screen and (max-width: 800px){
    .title_portfolio p{
    font-size: 2em;
    }
}

.line_title_portfolio{
    width: 70%;
}
/* ------------------------- End owl part ------------------- */
/* ------------------------- Start presentations categories part ------------------- */

.sect_project{
    position: relative;
    width: 100%;
    height: 105vh;
}

@media screen and (max-width: 800px){
    .sect_project{
        height: 90vh;
    }
}

.title_sect{
    font-size: 4em;
    color: #D64B39;
    margin-left: 10%;
    margin-bottom: 0.1em;
}

@media screen and (max-width: 800px){
    .title_sect {
    font-size: 1.7em;
    }
}

.tree_branch{
    position: relative;
    margin: 0;
    width: 80%;
    height: 50vh;
}

@media screen and (max-width: 800px){
    .tree_branch{
        height: 20vh;
    }
}

.tree_branch img{
    position: absolute;
    max-width: 80%;
    transform: translate(-10%, -10%) rotate(-23deg);
}

@media screen and (max-width: 800px){
    .tree_branch{
    margin-top: 7%;
    }
}

.sect_presentation{
    width: 80%;
}

.descrip_project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.descrip_line{
    font-size: 1.8em;
    color: #D64B39;
}

@media screen and (max-width: 800px){
    .descrip_line{
    font-size: 1.2em;
    }
}

.contain_imgs{
    position: relative;
    width: 100%;
    height: 60vh;
}

.img1{
    position: absolute;
    width: 60%;
    left: 15%;
    top: 50px;
}

.img2{
    position: absolute;
    width: 50%;
    left: 35%;
    top: 190px;
}

.img1 img{
    width: 100%;
}

.img2 img{
    width: 100%;
}








